@font-face {
    font-family: NDS;
    src: url(airpx.ttf);
} 

@font-face {
  font-family: pxoperator;
  src: url(PixelOperator.ttf);
} 

* {
    font-family: NDS !important;
}

  .sprite {
    image-rendering: unset;
    width: 120px;
  }

  #AirFryer01ReplitBadgeReplacement {
    image-rendering: unset;
  }

  .spritelarge {
    image-rendering: pixelated;
    width: 200px;
  }

  .type {
    image-rendering: pixelated;
    height: 24px;
  }

  body {
    background-color: rgb(212, 230, 238);
  }
  
  .screenshot {
    max-width: 100%;
    border-radius: 5px;
  }


  a:hover {
    color:rgb(17, 160, 105)
  }