@font-face {
    font-family: airfryer;
    src: url(airfryer3.otf);
  } 

  * {
    font-family: airfryer !important;
  }

  .sprite {
    image-rendering: unset;
    width: 120px;
  }

  #AirFryer01ReplitBadgeReplacement {
    image-rendering: unset;
  }

  .spritelarge {
    image-rendering: pixelated;
    width: 200px;
  }

  .type {
    image-rendering: pixelated;
    width: 64px;
    height: 24px;
  }

  body {
    background-color: rgb(212, 230, 238);
  }
  
  .screenshot {
    max-width: 100%;
    border-radius: 5px;
  }


  a:hover {
    color:rgb(17, 160, 105)
  }